---
layout: home
---

<p class="note">The WCARC 6m, 2m, 1.25m, 70cm, 35cm, and 23cm beacons are operational.</p>

<h1>West Carleton Amateur Radio Club</h1>
<p><img src="images/wcc_logo_path.svg" alt="WCARC logo"></p>

<h2>Home Page</h2>

<p class="next-meeting">
  Our next regular meeting will be at 7:00pm on Monday, March 17.
  Jeremy Jones (VA3ZTF) will present an az/el rotator for Arrow antennas,
  and Mike Kennedy (VA3TEC) will demonstrate the LiteX M2SDR.
  The meeting will be hosted on Zoom.
</p>

<p class="facebook">
  <a href="https://www.facebook.com/groups/west.carleton.arc">
    <img src="images/FindUs-FB-RGB.svg" alt="Find us on Facebook" width="154" height="29">
  </a>
</p>
