<ul class="navmenu">
  <li><a href="/">Home</a></li>
  <li><a href="/net.html">VHF SSB Net</a></li>
  <li><a href="/repeaters.html">Repeaters</a></li>
  <li><a href="/aprs.html">APRS</a></li>
  <li><a href="/programs.html">Activities</a></li>
  <li><a href="/projects.html">Projects</a></li>
  <li><a href="/presentations.html">Presentations</a></li>
  <li><a href="/meetings.html">Meetings</a></li>
  <li><a href="/links.html">Links</a></li>
  <li><a href="/contactsmain.html">Contacts</a></li>
  <li><a href="/events.html">Events</a></li>
  <li><a href="/membership.html">Membership</a></li>
  <li><a href="/regulations.html">Regulations</a></li>
  <li><a href="/history.html">History</a></li>
  <li><a href="/minutes/minutesindex.html">Minutes</a></li>
  <li><a href="/beacons.html">Beacons</a></li>
  <li><a href="/in_memoriam.html">In Memoriam</a></li>
</ul>
