<ul class="navmenu">
  <li><a href="{{ "/" | relative_url }}">Home</a></li>
  <li><a href="{{ "/net.html" | relative_url }}">VHF&nbsp;Net</a></li>
  <li><a href="{{ "/repeaters.html" | relative_url }}">Repeaters</a></li>
  <li><a href="{{ "/equipment/" | relative_url }}">Test&nbsp;Equipment</a></li>
  <li><a href="{{ "/aprs.html" | relative_url }}">APRS</a></li>
  <li><a href="{{ "/activities.html" | relative_url }}">Activities</a></li>
  <li><a href="{{ "/projects.html" | relative_url }}">Projects</a></li>
  <li><a href="{{ "/presentations.html" | relative_url }}">Presentations</a></li>
  <li><a href="{{ "/meetings.html" | relative_url }}">Meetings</a></li>
  <li><a href="{{ "/links.html" | relative_url }}">Links</a></li>
  <li><a href="{{ "/contacts.html" | relative_url }}">Contacts</a></li>
  <li><a href="{{ "/events.html" | relative_url }}">Events</a></li>
  <li><a href="{{ "/membership.html" | relative_url }}">Membership</a></li>
  <li><a href="{{ "/regulations.html" | relative_url }}">Regulations</a></li>
  <li><a href="{{ "/history.html" | relative_url }}">History</a></li>
  <li><a href="{{ "/minutes/" | relative_url }}">Minutes</a></li>
  <li><a href="{{ "/beacons.html" | relative_url }}">Beacons</a></li>
  <li><a href="{{ "/in_memoriam.html" | relative_url }}">In&nbsp;Memoriam</a></li>
</ul>
