.home h1 { font-size: 280%; }
.home h2 { font-size: 200%; }

.home .home-content { text-align: center; }

.home .note { color: purple; }
.home .next-meeting { background-color: yellow; }

.home .facebook a {
  display: block;
  width: fit-content;
  border: 1px outset;
  padding: 0.4em;
}

.header-logo {
  float: left;
  padding: 0.5em;
}

ul.navmenu {
  list-style-type: none;
  margin-left: 0;
  line-height: 210%;
}

ul.navmenu li {
  display: inline;
  border: 1px outset;
  padding: 0.2em;
  background-color: #eeeeee;
}

.minutes-content table {
  margin-bottom: 1em;
}

.minutes-content table, .minutes-content th, .minutes-content td {
  border: 1px solid #ccaa70;
  border-spacing: 0;
}

.minutes-content th, .minutes-content td {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.minutes-content th {
  background-color: #cccccc;
}

div.post-content > ol > li > ol {
  list-style-type: lower-alpha;
}

.gmap-iframe {
  border: 0;
}

.red {
  color: red;
}

.picture-frame {
  border: 1px solid black;
}
