---
layout: default
---
<style>
  table.navmenu {
    border: outset 1px;
    margin: auto;
    margin-bottom: 1em;
  }
  table.navmenu td {
    border: inset 1px;
    white-space: nowrap;
    text-align: center;
  }
</style>

<article class="post">

  <table class="navmenu">
    <tr>
      <td><a href="/">Home</a></td>
      <td><a href="/executive.html">Executive</a></td>
      <td><a href="/net.html">VHF SSB Net</a></td>
      <td><a href="/repeaters.html">Repeaters</a></td>
      <td><a href="/aprs.html">APRS</a></td>
      <td><a href="/programs.html">Activities</a></td>
      <td><a href="/projects.html">Projects</a></td>
      <td><a href="/presentations.html">Presentations</a></td>
      <td><a href="/meetings.html">Meetings</a></td>
    </tr>
    <tr>
      <td><a href="/forsale.html">For Sale</a></td>
      <td><a href="/links.html">Links</a></td>
      <td><a href="/contactsmain.html">Contacts</a></td>
      <td><a href="/events.html">Events</a></td>
      <td><a href="/membership.html">Membership</a></td>
      <td><a href="/regulations.html">Regulations</a></td>
      <td><a href="/history.html">Club History</a></td>
      <td><a href="/minutes/minutesindex.html">Minutes of Mtgs</a></td>
      <td><a href="/beacons.html">Beacons</a></td>
    </tr>
  </table>

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content minutes-content">
    {{ content }}
  </div>

</article>
